extends typescript

# Functional Component
snippet fc new FC
	import React from 'react'

	const ${1:Component}: React.FC = () => {
		return (
			<${2:rootComponent}>
				${3}
			</${2}>
		)
	}

	export default ${1}
